// Place all the styles related to the dinosaurs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  text-decoration: none;
}

h1 {
  color: #27ae60;
}

a {
  width: 100px;
  height: 100px;
}

.image {
  border: 5px solid #e74c3c;
  width: 100px;
  height: 100px;
}

img {
  border: 20px solid #ecf0f1;
  padding: 10px;
  align-content: center;
}

p {
  color: blue;
}

.container {
  display: flex;
  flex-direction: column;
}
